body {
  margin: 0;
  font-family: "";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #212529; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a {
  text-decoration: none;
  color: black
}

i {
  font-size: 2rem;
}

.navbar-dark:hover .navbar-brand:hover {
    color: black;
}

#logo-pata {
  width: 24px;
  fill: white;
}

#logo-tiospatinhas {
  width: 40%;
  fill: black;
}

@media all and (max-width: 990px) {
  #titulo-patinhas {
    display: none
  }

  #dados-tiospatinhas {
    display: none
  }
}
